#tf1{
    -fx-background-color: white;
    -fx-border-color: #c1cad7;
    -fx-font-size: 10pt;
    -fx-pref-width: 250;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

#tf2{
    -fx-background-color: white;
    -fx-background-radius: 5pt;
    -fx-font-size: 12pt;
    -fx-border-width: 2pt;
    -fx-border-color: transparent transparent transparent rgba(0,0,0,0.62);
    -fx-min-width: 250;
    -fx-min-height: 30;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

#box{
    -fx-background-color: white;
    -fx-pref-width: 600;
    -fx-pref-height: 400;
    -fx-border-color: #a4bcd2;
    -fx-border-radius: 15pt;
    -fx-background-radius:5%;
    -fx-spacing: 10;
    -fx-padding: 10 10 10 10;
}

#description{
    -fx-font-size: 11pt;
    -fx-font-style: italic;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-max-height: 400;
    -fx-min-width: 300;
}

#clearButton{
    -fx-background-color: #e4e4e4;
    -fx-font-size: 11pt;
}

#leftButton{
    -fx-font-size: 12pt;
    -fx-text-fill: #fffbfb;
    -fx-font-weight: bold;
}

#leftButton:hover{
    -fx-cursor: hand;
}

#rightButton{
    -fx-text-fill: #d5d5dc;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-cursor: hand;
}

.root{
    -fx-background-color: #57657b;
    -fx-background-radius: 5pt;
}

#channelTitle{
    -fx-max-height: 15;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-font-size: 13pt;
}

#customLabel{
    -fx-font-size: 11pt;
    -fx-font-style: italic;
    -fx-text-fill: dimgray;
}

#timer{
    -fx-font-size: 12pt;
    -fx-text-fill: lightgray;
}

#projectName{
    -fx-text-fill: #cec2ff;
    -fx-font-size: 16pt;
}

#mainButton{
    -fx-background-color: #3c4151;
    -fx-font-size: 12pt;
    -fx-text-fill: ghostwhite;
    -fx-min-width: 120;
    -fx-min-height: 30;
}